<p>{{quote.description}}</p>
<p>This quote will be complete in {{quote.completeDate|dateCount}}</p>
<button (click)="quoteDelete(true)" class="btn btn-outline-danger">Delete quote</button>
<!-- <body ng-app ='myApp'>
    <table ng-controller ='votesController'>
        <thead>
            <tr>
                <th>upvotes</th>
                <th>downvotes</th>
                <th>upvotes/downvotes</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat='vote in votes'>
                <td>{{vote.upvotes}}</td>
                <td>{{vote.downvotes}}</td>
                <td>
                    <button type="button" ng-click='incrementUpvotes(vote)'>Upvote</button>
                    <button type="button" ng-click='incrementDownvotes(vote)'>Downvote</button>
                </td>
            </tr>
        </tbody>
    </table>
    
</body> --> -->